@media (min-width: 1024px) {
    * {
        padding: 0;
        margin: 0;
        list-style: none;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -moz-box-sizing: border-box;
        box-sizing: border-box;
    }

    #app {
        width: 100vw;
        height: 100vh;
        overflow: hidden;
        position: relative;
    }

    #nav {
        text-align: center;
        position: absolute;
        top: 0;
        right: 0;
        left: 0;
        z-index: 10;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.3);
        padding: 7px 20px;
        border-bottom: 1px solid rgba(255, 255, 255, 0.2);
        transition: all 0.2s ease;
    }

    #nav:hover {
        background: #fff;
        transition: all 0.2s ease;
    }

    .nav-items {
        margin: 0 7px 0 8px;
        text-decoration: none;
        color: #000;
        /* color: #fff; */
    }

    .nav-this,
    .nav-items:hover,
    .nav-this:hover {
        cursor: pointer;
        color: rgb(214, 134, 30);
    }

    .container {
        width: 100vw;
        height: 100vh;
        position: relative;
        overflow: hidden;
        flex-direction: column;
        font-family: 'Open Sans', 'PingFang SC', 'Microsoft YaHei',
            'Helvetica Neue', 'Hiragino Sans GB', 'WenQuanYi Micro Hei', Arial,
            sans-serif;
    }
    .flex-center {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}
