* {
    padding: 0;
    margin: 0;
    outline: none;
    border: none;
    list-style: none;
    user-select: none;
    box-sizing: border-box;
}

#app {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    position: relative;
}

.container {
    width: 100vw;
    height: 100vh;
    position: relative;
    overflow: hidden;
    flex-direction: column;
    font-family: 'PingFang SC', 'Microsoft YaHei', 'WenQuanYi Micro Hei', Arial, sans-serif;
}
.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

@media (min-width: 1024px) {
    #nav {
        display: flex;
        flex-direction: row;
        justify-content: center;
        position: absolute;
        top: 0;
        z-index: 10;
        width: 100%;
        font-size: 14px;
        background: rgba(255, 255, 255, 0.3);
    }

    #nav:hover {
        background: #fff;
        transition: all 0.4s ease;
    }

    .nav-items {
        padding: 7px;
        margin: 7 7px 7 8px;
        text-decoration: none;
        color: #000;
    }

    .nav-this,
    .nav-items:hover {
        cursor: pointer;
        color: rgb(214, 134, 30);
    }
}
