@media (min-width:1400px) {
    * {
        user-select: none;
        -moz-user-select: none;
        -webkit-user-select: none;
    }

    html,
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
        width: 100vw;
        height: 100vh;
        overflow: hidden;
    }

    .pointer:hover {
        cursor: pointer;
    }

    .borderBlue:hover {
        cursor: pointer;
        border: 1px solid #409EFF;
    }


    #nav {
        box-sizing: border-box;
        position: -webkit-sticky;
        position: sticky;
        padding-left: 15px;
        top: 0;
        height: auto;
        width: 100%;
        min-width: 800px;
        overflow: hidden;
        z-index: 10;
        border-bottom: 1px solid rgba(192, 196, 204, 1);
        background: rgba(255, 255, 255, .3);
    }


    .nav-items {
        position: relative;
        padding: 15px;
        min-width: 60px;
        text-align: center;
        color: black;
        display: inline-block;
        text-decoration: none;
    }

    /* 菜单激活样式一  开始 */
    /* .nav-this {
        color: rgb(241, 185, 31);
        font-weight: 900;
    } */

    /* 菜单激活样式一  结束 */


    /* 菜单激活样式二    开始 */
    /* .nav-items::before,
    .nav-items::after {
        content: "";
        position: absolute;
        width: 0;
        height: 0;
        left: 0;
        right: 0;
        margin: auto;
        transition: all .2s ease-out;
    }

    .nav-items::before {
        top: 0;
        border-bottom: 10px solid transparent;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-top: 10px solid rgba(29, 75, 121, 0.808);
        transform: translateY(-100%);
    }

    .nav-items::after {
        bottom: 0;
        border-top: 10px solid transparent;
        border-left: 30px solid transparent;
        border-right: 30px solid transparent;
        border-bottom: 10px solid rgba(29, 75, 121, 0.808);
        transform: translateY(100%);
    }

    .nav-this::before,
    .nav-items:hover::before {
        transform: translateY(0);
        transition: all .3s ease-in-out;
    }

    .nav-this::after,
    .nav-items:hover::after {
        transform: translateY(0);
        transition: all .3s ease-in-out;
    } */

    /* 菜单激活样式二  结束 */



    /* 菜单激活样式三   开始 */
    .nav-this,
    .nav-items:hover {
        background: rgb(217, 236, 255);
    }


    .nav-items::after {
        content: "";
        position: absolute;
        width: 100%;
        height: 3px;
        left: 0;
        right: 0;
        margin: auto;
        bottom: 0;
    }

    .nav-this::after,
    .nav-items:hover::after {
        background: #409EFF;
        animation: navAnima .3s reverse ease-in;
    }

    @keyframes navAnima {
        0% {
            background: #409EFF;
            width: 100%;
        }

        100% {
            width: 0;
        }
    }
    /* 菜单激活样式三    结束 */



}