.bg {
    background: url('../image/bg-home.jpg');
    background-size: cover;
    position: absolute;
    top: -20px;
    left: -20px;
    right: -20px;
    bottom: -20px;
    filter: blur(10px);
    z-index: -1;
}

.slogan {
    color: white;
    margin-top: 24px;
    font-size: 36px;
    font-weight: 400;
}

.mask {
    width: 512px;
    height: 288px;
    background-image: url('../image/bg-home.jpg');
    background-size: cover;
    -webkit-mask: url('../svg/home-dji.svg');
    -moz-mask: url('../svg/home-dji.svg');
    -o-mask: url('../svg/home-dji.svg');
    mask: url('../svg/home-dji.svg');
    -webkit-mask-size: cover;
    -moz-mask-size: cover;
    -o-mask-size: cover;
    mask-size: cover;
}
